{
  "$schema": "https://json.schemastore.org/swcrc",
  "exclude": ["node_modules", "dist"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "target": "es2018",
    "baseUrl": ".",
    "paths": {
      "@src/*": ["./src/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "env": {
    "targets": {
      "node": 14
    }
  }
}
